@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WaitingfortheSunrise';
  src: url('/assets/fonts/WaitingfortheSunrise-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
}

.dark .router-link-exact-active:not(.article-link) {
  @apply text-amber-400;
}

.wrapper > *+* {
  @apply mt-8;
}